
header {
    color: black;
    text-align: center;
    font-family: "helvetica";
}

p{
	color: grey;
	text-align: center;
	font-family: "helvetica";

}
p a {
	color: grey;

}


header{font-size: 45px}

p{font-size: 25px}

desc{
	color: black;
    text-align: center;
    font-family: "helvetica";
    }

h3{font-size: 15px}

desc{
	color: black;
    text-align: center;
    font-family: "helvetica";
    }





h2{font-size: 19px
	color: black;
    text-align: center;
    font-family: "helvetica";
    }




#wrapper{
    width: 720px;
    margin: 0 auto;
}
